* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	background: url(/img/programming-code-colorful.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}

.navbar {
	height: 80px;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav{
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.fa-2x{	
    color: white;
    text-align: center;
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	padding: 28px 5px;
	margin-right: 20px;
}

.navbar ul li a.sign-in{
	border: rgb(90, 253, 0); 
	border-width: 4px; 
	border-style: solid;
	height: 2px;
	text-align: center;
}

.navbar ul li a {
	text-decoration: none;
	color: white;
	padding: 6px 13px;
	font-weight: 900;
	transition: .4s;
}

.logo {
	height: auto;
	padding: 28px 50px;
	color: white;
}


.logo .logo-name {
	border: orange; 
	border-width: 4px; 
	border-style: solid;
	border-radius: 2px;
	width: 230px;
	background-color: rgba(0, 0, 0, 0.4);
	
}

.logo h1 {
	text-align: center;
	font-weight: 2000;
	font-family: Arial, 'Helvetica', sans-serif

}

.menu {
	display: none;
}

.navbar ul li a.active,
.navbar ul li a:hover {
	background: red;
	border-radius: 2px;
}
.navbar ul li a.sign-in.active,
.navbar ul li a.sign-in:hover {
    background: rgb(90, 253, 0);
	border-radius: 2px;
}

@media all and (max-width: 964px) {
	.menu {
		display: block;
	}
	
	.navbar {
		justify-content: space-evenly;
	}
	
	.navbar ul li {
		display: none;
	}
}











































































